#resultActions {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 20px;

  #actionButtons {
    margin-left: auto;
    button:last-child {
      margin-left: 10px;
    }
  }
}

table {
  width: 100%;

  tr {
    th,
    td {
      padding: 5px;

      &:first-child {
        padding-left: 10px;
      }
      &:last-child {
        padding-right: 10px;
      }
    }
  }
}


// not big screen
@media (max-width: 1025px) {
  #resultActions{
    display: block;
  }
}

@media (max-width: 470px) {
  #actionButtons{
    display: flex;
    flex-direction: column;

    button{
      margin: 5px 0px !important;
    }
  }
}