.articleViewport{
    margin-top: 15px;
    padding-bottom: 20px;
    height: 700px;
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none;  /* IE 10+ */
}

.articleViewport::-webkit-scrollbar{
    width: 0;
    height: 0;
}

.spinner{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}