<!-- Filter -->
<div class="grid-100">
  <app-filter></app-filter>
</div>

<!-- Article items with virtual scroll -->
<cdk-virtual-scroll-viewport class="articleViewport" itemSize="100">
  <div
    class="grid-25 tablet-grid-50 mobile-grid-100"
    style="margin-top: 15px;"
    *cdkVirtualFor="let article of articleService.$articles | async"
  >
    <app-article-item [article]="article"></app-article-item>
  </div>
</cdk-virtual-scroll-viewport>

<!-- Spinner-loader -->
<div class="grid-100" *ngIf="!loaded">
  <mat-spinner class="spinner"></mat-spinner>
</div>
