<div class="grid-100 grid-parent" id="header-filter">
  <div class="grid-33 tablet-grid-50 mobile-grid-100 filter">
    <mat-form-field class="example-full-width">
      <input matInput placeholder="Search by author" />
    </mat-form-field>
  </div>
  <div class="grid-33 tablet-grid-50 mobile-grid-100 filter">
    <mat-form-field class="example-full-width">
      <input matInput placeholder="Search by title" />
    </mat-form-field>
  </div>
  <div class="grid-33 tablet-grid-50 mobile-grid-100 filter">
    <mat-form-field class="example-full-width">
      <input matInput placeholder="Search by content" />
    </mat-form-field>
  </div>

  <div class="grid-33 push-66 tablet-grid-50 tablet-push-0 
        mobile-grid-100 mobile-push-0 filter">
    <button mat-stroked-button>Search!</button>
  </div>
</div>
