<div class="card" (click)="getDetails()">
  <div class="newsCard-header">
    <!-- title article -->
    <p>{{article.title}}</p>
  </div>
  <div class="newsCard-body">
    <!-- Picture article -->
    <img
      [src]="article.urlToImage"
      alt="article "
    />
  </div>
  <div class="newsCard-footer">
    <!-- content snippet article + author -->
    <p class="article-description">
      {{article.description}}
    </p>
    <p class="article-author">
      {{article.author}}
    </p>
  </div>
</div>
