$navigationBgc: rgb(209, 18, 18);

.card {
  -moz-box-shadow: 0 0 3px #ccc;
  -webkit-box-shadow: 0 0 3px #ccc;
  box-shadow: 0 0 3px #ccc;
  margin-top: 15px;
  height: 400px;
  overflow: hidden;

  &:hover {
    cursor: pointer;
    .newsCard-header{
      p{
        color: $navigationBgc;
      }
    }
  }

  .newsCard-header {
    padding: 5px;
    text-align: center;
    font-weight: bold;
    height: 20%;

    p {
      margin: 0;
    }
  }

  .newsCard-body {
    height: 40%;
    overflow: hidden;
    img {
      width: 100%;
    }
  }

  .newsCard-footer {
    padding: 10px;
    text-align: justify;
    height: 40%;

    .article-description{
      height: 90%;
      overflow: hidden;
    }
    .article-author{
      font-size: 0.8rem;
      color: lightgray;
      text-align: right;
      height: 10%;
    }

    p {
      margin: 0;
      font-size: 0.9rem;
    }
  }
}
