<div class="card">
  <div class="newsCard-header">
    <!-- title article -->
    <p>Philips voelt wereldwijde handelsoorlog in de resultaten - NU.nl</p>
  </div>
  <div class="newsCard-body">
    <!-- Picture article -->
    <img
      src="https://media.nu.nl/m/269xp7gaa71j_wd1280.jpg/philips-voelt-wereldwijde-handelsoorlog-in-de-resultaten.jpg"
      alt="article "
    />
  </div>
  <div class="newsCard-footer">
    <!-- content snippet article + author -->
    <p>
      Philips voelt het toenemende protectionisme in zijn resultaten. Doordat
      overheden wereldwijd meer importheffingen invoeren, valt de winstmarge bij
      het onderdeel Connected Care in het derde kwartaal lager uit, meldt
      Philips donderdag.
    </p>
  </div>
</div>
