<div class="card" (click)="getDetails()">
  <div class="newsCard-header">
    <!-- title article -->
    <p>{{article.title}}</p>
  </div>
  <div class="newsCard-body">
    <!-- Picture article -->
    <img
      [src]="article.urlToImage | defaultText:'https://images.pexels.com/photos/102720/pexels-photo-102720.jpeg?cs=srgb&dl=finance-financial-times-news-102720.jpg&fm=jpg'"
      alt="article "
    />
  </div>
  <div class="newsCard-footer">
    <!-- content snippet article + author -->
    <p class="article-description">
      {{article.description | defaultText: 'Dit artikel bevat geen content...'}}
    </p>
    <p class="article-author">
      {{article.author}}
    </p>
  </div>
</div>
