<div class="grid-100" *ngIf="article != null; else NoArticle">
  <div id="article" class="grid-70 tablet-grid-100 mobile-grid-100 grid-parent">
    <div id="article-title">
      <h3>{{ article.title }}</h3>
    </div>
    <div id="article-picture">
      <img [src]="article.urlToImage" class="grid-100 tablet-grid-70 mobile-grid-100 grid-parent" alt="article image" />
    </div>
    <div id="article-MetaData">
      <p id="author">{{ article.author }}</p>
      <p id="published">{{ article.publishedAt }}</p>
    </div>
    <div id="article-description">
      <p>{{article.description}}</p>
    </div>
    <div id="article-content">
      <p>{{ article.content }}</p>
    </div>
    <div id="article-url">
      <p>
        <a [href]="article.url">Klik hier voor heel het artikel te lezen!</a>
      </p>
    </div>
  </div>
</div>

<ng-template #NoArticle>
  <p>No article found, please return to home.</p>
</ng-template>
