<div class="grid-container grid-100 navItems">
  <ul class="items-start">
    <li class="item">
      <a routerLink="/home" [routerLinkActive]="'is-active'">Home</a>
    </li>
  </ul>
  <ul class="newsTitle">
    <li class="item">
      <p>The News</p>
    </li>
  </ul>
  <ul class="items-end">
    <li class="item">
      <button id="admin-dropdown" (click)="toggleAdminDropdown()">
        Admin <fa-icon [icon]="faChevronDownUp" ></fa-icon>
      </button>
      <div id="admin-sub" [hidden]="dropdownHidden" (click)="toggleAdminDropdown()">
        <a routerLink="/admin">Article news API</a>
        <a routerLink="/admin/dashboard">Dashboard</a>
      </div>
    </li>
  </ul>
</div>
